<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>CNotch uses your location to show the current weather on the notch. This is optional and only used while the Weather feature is enabled.</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/cuonghm89/Cnotch/main/updater/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>F8si0mLoSYurKVJeQS6SnT6Gtu9omphzFuq1yZRelyU=</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
